
<div class="boxHeader pageBoxHeader clearfix">
    <div class="pull-left">
        <h1 class="pageTitle">
            <a href="#" title="#">Dashboard</a>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard">Pontinho</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Statsbar -->
<!--<div class="statsBar">
    <div class="row">
        <div class="col-xs-12 col-md-4 i pink">
            <a ui-sref="competition.list" class="c">
                <h3 class="title">Total Competitions </h3>
                <div class="num">{{vm.model.totalCompetitions}}</div>
                <div class="icon">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 i yellow">
            <a href="#" title="#" class="c">
                <h3 class="title">Total Games </h3>
                <div class="num">{{vm.model.totalMatches}}</div>
                <div class="icon">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 i green">
            <a href="#" title="#" class="c">
                <h3 class="title">Total Rounds </h3>
                <div class="num">{{vm.model.totalRounds}}</div>
                <div class="icon">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-3 pull-right">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-4 ct-pie-chart">
                <div class="box box-without-padding">
                    <div id="ct-chart-m" class="ct-perfect-fourth"></div>
                    <div class="text">Matches Won</div>
                    <div class="info"><span>{{vm.model.matchesWon*100/vm.model.totalMatches|number:0}}</span>%
                    </div>
                </div>
            </div>
            <div class="col-xs-4 ct-pie-chart">
                <div class="box box-without-padding">
                    <div id="ct-chart-r" class="ct-perfect-fourth"></div>
                    <div class="text">Rounds Won</div>
                    <div class="info"><span>{{vm.model.roundsWon*100/vm.model.totalRounds|number:0}}</span>%
                    </div>
                </div>
            </div>
            <div class="col-xs-4 ct-pie-chart">
                <div class="box box-without-padding">
                    <div id="ct-chart-rs" class="ct-perfect-fourth"></div>
                    <div class="text">Rounds Snapped</div>
                    <div class="info"><span>{{vm.model.roundsSnapped*100/vm.model.totalRounds|number:0}}</span>%
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->